html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #F6FAFD;
}

p {
  text-align: justify;
}

a:link, a:visited {
  color: #2A7AE2;
}

a:hover, a:active {
  color: red;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 720px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1360px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 60%;
  }
}

.navbar {
  background-color: #030535;
}

.title-logo {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.title-logo img {
  height: 48px;
}

li.page-menuitem > a {
  display: inline-block;
  padding: 6px 12px;
}

.page-menuitem img {
  height: 36px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: #D3EEFD;
}

.footer ul {
  margin: 16px 0;
}

.member {
  display: inline-block;
  padding: 2em 0 0 0;
  clear: both;
}

.member:nth-last-child(n+2) {
  background-image: linear-gradient(to right, transparent, rgba(211,238,253,1), transparent);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.member-picture > img {
  max-width: 160px;
  width: 100%;
  height: 100%;
}

.member-info > h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.member-info > ul {
  margin: 0;
  padding: 0;
}

.member > p {
  margin: 1em 0 0 0;
}

@media (max-width: 768px) {
  .member-picture, .member-info {
    text-align: center;
  }
}

.social li {
  display: inline-block;
  margin-right: 1ch;
}

.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  outline: none;
  background-image: url(/img/icons/social.png);
}

.rss {
  background-position: 0 0;
}

.twitter {
  background-position: 0 -32px;
}

.github {
  background-position: 0 -64px;
}

.previous-post {
  width: 32px;
  height: 32px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.next-post {
  width: 32px;
  height: 32px;
}
