.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: #d3eefd;
}

.page-footer ul {
  margin: 16px 0;
}

.icon32 {
  width: 32px;
  height: 32px;
}

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

.table > thead > tr > th,
.table > thead > tr > td {
  background-color: #e2f4fe;
}
