html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 16px;
  background-color: #f6fafd;
}

p {
  text-align: justify;
}

a:link, a:visited {
  color: #2a7ae2;
}

a:hover, a:active {
  color: red;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1360px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 60%;
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: #d3eefd;
}

.page-footer ul {
  margin: 16px 0;
}

.icon32 {
  width: 32px;
  height: 32px;
}

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: left;
}

.table > thead > tr > th,
.table > thead > tr > td {
  background-color: #e2f4fe;
}
