---
layout: page
title: Conteúdo sobre Ferramentas de Shell Linux
description: Confira a lista com todo o conteúdo sobre ferramentas de Shell Linux.
---

<h3>Guia Rápido Linux</h3>

<p>Esta é uma série de posts curtos que mostram como algumas ferramentas de Shell Linux podem ser utilizadas em situações do dia a dia.</p>

<p>Posts da série:</p>

<ul>
{% for post in site.categories.shell reversed %}
  {% if post.series == 'Guia Rápido Linux' %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
