---
layout: default
---

<div class="home">

  {% if site.posts.size > 0 %}

    <h1>Posts</h1>

    <ul class="post-list">
    
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <div class="center">
      <h1>Aqui deu erro, mas na minha máquina funciona!!</h1>
      <img src="{{ "img/fail.jpg" | prepend: site.baseurl }}" alt="">
    </div>

  {% endif %}

</div>
