{% if page.comments %}
<script>
var disqus_config = function () {
  this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
  this.page.identifier = "{{ page.url | absolute_url }}";
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://devsv.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% if page.lang == "pt" %}
<noscript>Para visualizar os <a href="https://disqus.com/?ref_noscript">comentários via Disqus</a> é preciso que o JavaScript esteja habilitado.</noscript>
{% else %}
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
{% endif %}
