<footer class="page-footer">
  <div class="wrapper">
    {% if page.langvisible %}
      <div class="language-selector">
        <div>
          <select id="footer-language-select" name="language">
            {% for lang in site.data.languages %}
              {% if page.lang == lang.id %}
                <option value="{{ page.url }}" selected="selected">{{ lang.label }}</option>
              {% elsif page.type == "post" %}
                {% for p in site.posts %}
                  {% if p.pubid == page.pubid and p.lang == lang.id %}
                    <option value="{{ p.url | prepend: site.baseurl }}">{{ lang.label }}</option>
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% else %}
                {% for p in site.pages %}
                  {% if p.pubid == page.pubid and p.lang == lang.id %}
                    <option value="{{ p.url | prepend: site.baseurl }}">{{ lang.label }}</option>
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
    <div class="social">
      <ul class="social-link">
        <!-- email -->
        <li>
          <a href="mailto:contato@devsv.com.br" title="link {{ site.data[page.lang].text.contact }}">
            <span class="link-text">{{ site.data[page.lang].text.contact }}</span>
            <svg aria-hidden="true">
              <title>{{ site.data[page.lang].text.contact }}</title>
              <use xlink:href="{{ "/img/icons/footer.svg#email" | prepend: site.baseurl }}" />
            </svg>
          </a>
        </li>
        <!-- Twitter -->
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" title="link twitter @{{ site.twitter_username }}">
            <span class="link-text">@{{ site.twitter_username }}</span>
            <svg aria-hidden="true">
              <title>@{{ site.twitter_username }}</title>
              <use xlink:href="{{ "/img/icons/footer.svg#twitter" | prepend: site.baseurl }}" />
            </svg>
          </a>
        </li>
        <!-- RSS -->
        <li>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="link RSS">
            <span class="link-text">RSS</span>
            <svg aria-hidden="true">
              <title>RSS</title>
              <use xlink:href="{{ "/img/icons/footer.svg#rss" | prepend: site.baseurl }}" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
