<footer>
  <p class="pull-right">
    <!-- Twitter -->
    <span class="social">
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <img src="{{ "/img/twitter-icon.png" | prepend: site.baseurl }}">
        <span>@{{ site.twitter_username }}</span>
      </a>
    </span>
    <!-- RSS -->
    <span class="social">
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <img src="{{ "/img/feed-icon.png" | prepend: site.baseurl }}">
        <span>RSS</span>
      </a>
    </span>
  </p>
</footer>
