<header id="navbar" class="site-header">
  <div class="wrapper">
    <div class="menu-button"><span class="button-icon"></span></div>
    <h1 class="logo"><a class="" href="{{ site.baseurl }}/{{ page.lang }}/">{% include logo.svg %}</a></h1>
    <nav id="nav-menu" class="menu">
      <ul>
        {% for pg in site.pages %}
          {% if pg.menu and pg.lang == page.lang %}
            <li class="page-menuitem"><a href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
