<ul class="members">
  {% for member in site.data.members %}
  <li class="member">
    <div class="member-picture"><img src="{{ member.picture | prepend: site.baseurl }}" alt="{{ site.data[page.lang].text.author }} {{ member.name }}"></div>
    <div class="member-info">
      <h3>{{ member.name }}</h3>
      <ul class="social-link">{% for link in member.links %}<li><a href="{{ link.url }}" title="{{ link.title }}"><svg><use xlink:href="{{ site.baseurl }}/img/icons/footer.svg#{{ link.class }}" /></svg></a></li>{% endfor %}</ul>
      <p class="resume">{{ member.resume[page.lang] }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
