/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size;
  background-color: $footer-color;
}

.page-footer ul {
  margin: $base-font-size 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.container {
  padding: 0 ($spacing-unit / 2);
  margin: 0 auto;
}
@include media-query-min($small-scr) {
  .container {
    width: 90%;
  }
}
@include media-query-min($medium-scr) {
  .container {
    width: 80%;
  }
}
@include media-query-min($large-scr) {
  .container {
    width: 70%;
  }
}
@include media-query-min($verylarge-scr) {
  .container {
    width: 60%;
  }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.title, .post-title, .page-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.previous-post {
    display: block;
    float:left;
}
.next-post {
    display: block;
    clear:left;
}
@include media-query-min($medium-scr) {
    .previous-post {
        display: inline-block;
        float:none;
    }
    .next-post {
        float:right;
        padding-bottom: $footer-size + $base-font-size;
    }
}

.icon32 {
  width: 32px;
  height: 32px;
}

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}
.table th, .table td {
  border: 1px solid $grey-color-light;
  padding: 0.5em;
  text-align: left;
}
.table > thead > tr > th,
.table > thead > tr > td {
  background-color: $th-color;
}
