/**
 * Links to Social Networks
 */
.social a {
  display: inline-block;
  width: $social-icon-size;
  height: $social-icon-size;
  text-indent: -9999px;
  outline: none;
  background-image: $image-social;
}

/**
 * Icon Image
 */
.rss {
  background-position: 0 0;
}
.twitter {
  background-position: 0 (-$social-icon-size);
}
.github {
  background-position: 0 (-$social-icon-size * 2);
}
