// Base
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors
$text-color:       #111;
$background-color: #f6fafd;
$brand-color:      #2a7ae2;
$linkhover-color:  red;
$navbar-color:     #030535;
$footer-color:     #d3eefd;
$th-color:         #e2f4fe;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Screen width
$verysmall-scr:    600px;
$small-scr:        720px;
$medium-scr:       980px;
$large-scr:        1280px;
$verylarge-scr:    1440px;

// Size values
$navbar-size:      48px;
$footer-size:      64px;
$logo-size:        48px;
$logo-padding:     8px;
$menuitem-size:    36px;
$menubutton-size:  24px;
$member-img-size:  160px;
$social-icon-size: 32px;

// Social icon
$image-social:     url(/img/icons/social.png);
