/**
 * Post Navigation Button
 */
.previous-post {
    display: block;
    float:left;
}
.next-post {
    display: block;
    clear:left;
}
@include media-query($medium-scr) {
    .previous-post {
        display: inline-block;
        float:none;
    }
    .next-post {
        float:right;
        padding-bottom: $footer-size + $base-font-size;
    }
}

.icon32 {
  width: 32px;
  height: 32px;
}
.flipped {
  transform: scaleX(-1);
}
