/**
 * Content Menu
 */
.page-menuitem img {
  height: $menuitem-size;
  padding: (($logo-size - $menuitem-size) / 2) 0;
}

/**
 * Table of Contents
 */
.toc-link {
  font-size: 1.5em;
}

/**
 * Post Navigation Button
 */
.previous-post {
    display: block;
    float:left;
}
.next-post {
    display: block;
    clear:left;
}
@include media-query($medium-scr) {
    .previous-post {
        display: inline-block;
        float:none;
    }
    .next-post {
        float:right;
        padding-bottom: $footer-size + $base-font-size;
    }
}

.icon32 {
  width: 32px;
  height: 32px;
}
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
