/**
 * Site footer
 */
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size;
  background-color: $footer-color;

  ul {
    list-style: none;
    margin: $base-font-size 0;
    text-align: center;
  }
}

.social {
  li {
    display: inline-block;
    margin-right: 1ch;
  }
  
  a {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    outline: none;

    svg {
      width: $social-icon-size;
      height: $social-icon-size;
    }

    .link-text {
      display: none;
    }
  }
}
