/**
 * Site footer
 */
.select-inner {
  position: relative;
  width: 160px;
  margin: auto;
}
.select-inner::after {
  content: '>';
  color: $brand-color;
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $brand-color;
  font-size: $base-font-size*1.2;
  font-weight: 900;
  height: $social-icon-size;
  width: $social-icon-size;
  pointer-events: none;
}

.page-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $footer-color;

  .language-selector, .social {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .language-selector {
    box-sizing: border-box;
    padding: 1ch;

    label {
      position: absolute;
      text-indent: -9999px;
    }

    select {
      background-color: $background-color;
      border: 1px solid $brand-color;
      font-size: $base-font-size;
      color: $navbar-color;
      height: $social-icon-size;
      width: (5*$social-icon-size);
      appearance: none;
    }
  }

  .social-link {
    margin-left: 1ch;
  }

  @include media-query($verysmall-scr) {
    position: absolute;
    bottom: 0;
    height: $footer-size;

    > .wrapper {
      height: 100%;
      vertical-align: middle;
    }

    .language-selector, .social {
      width: auto;
      height: 100%;
      padding: 0;
    }

    .language-selector {
      display: table;
      float: left;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .social {
      display: table;
      float: right;

      > ul {
        display: table-cell;
        vertical-align: middle;
        list-style: none;
      }
    }
  }
}

.social-link {
  li {
    display: inline-block;
    margin-right: 1ch;
  }

  a {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    box-sizing: border-box;
    outline: none;

    svg {
      width: $social-icon-size;
      height: $social-icon-size;
      box-sizing: border-box;
    }

    .link-text {
      display: none;
    }
  }
}
